.heading {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
    height: 80px;
    width: 100%;
}

#tasks,
#list {
    display: inline-block;
    margin-top: 15px;
    left: 137px;
    width: 196px;
    height: 49px;
}

#tasks {
    text-align: left;
    font: normal normal bold 40px/49px Inter;
    color: #424242;
    margin-left: 90px;
}

#list {
    text-align: left;
    font: normal normal bold 40px/49px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    margin-left: -98px;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 22px;
    margin-left: 782px;
    opacity: 1;
}


.addlist {
    position: absolute;
    font: normal normal normal 22px/26px Inter;
    margin-left: 830px;
    margin-top: 26px;
    font-size: 24px;
}

.circle1 {
    position: absolute;
    width: 35px;
    height: 40px;
    margin-top: 31px;
    margin-left: 474px;
    opacity: 1;
}


.back {
    position: absolute;
    font: normal normal normal 22px/26px Inter;
    margin-left: 513px;
    margin-top: 32px;
    font-size: 24px;
}


.card {
    top: 220px;
    left: 139px;
    width: 390px;
    height: 286px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 488px;
    margin-top: 120px;
    box-shadow: 3px 3px 10px black;
}

.div1 {
    top: 261px;
    left: 615px;
    width: 137px;
    height: 29px;
    text-align: left;
    font-size: 18px;
    font: normal normal medium 24px/29px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 39%;
}


.div2 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.div3 {
    top: 395px;
    left: 212px;
    width: 150px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 22px;
}

#todo {
    top: 342px;
    left: 175px;
    width: 18px;
    height: 18px;
    opacity: 1;
}

@media(max-width: 600px) {
    .upper-container {
        width: 90%;
    }

    .heading {
        background-color: #FFFFFF;
        width: 360px;
        height: 60px;
        margin-left: 0%;
    }

    #tasks {
        width: auto;
        display: contents;
        position: absolute;
        margin-left: 2px;
    }

    #list {
        width: auto;
        display: contents;
        position: absolute;
        margin-left: 2px;
    }


    .upper-container2 {
        width: 80%;

    }

    .circle {
        text-align: center;
        margin-left: 150px;


    }

    .addlist {
        display: none;
    }

    .card {
        margin-top: 100px;
        margin-left: 12px;
        width: 336px;
        height: 360px;
        margin-left: auto;
    }

    .card1 {
        margin-top: 10px;
        margin-left: 12px;
        width: 336px;
        height: 360px;
        margin-left: auto;
    }

    .card2 {
        margin-top: 10px;
        margin-left: 12px;
        width: 336px;
        height: 360px;
        margin-left: auto;
    }

    .card3 {
        margin-top: 10px;
        margin-left: 12px;
        width: 336px;
        height: 360px;
        margin-left: auto;
    }

    .card4 {
        margin-top: 10px;
        margin-left: 12px;
        width: 336px;
        height: 360px;
        margin-left: auto;
    }



    .pop-up {
        margin-top: -1724px;
        margin-left: -127px;
        width: 340px;
        height: 200px;
    }

    #addnewlist {
        font-size: 25px;
        margin-left: -180px;
    }

    .pop-up-button {
        margin-left: 193px;
    }

    .circle1 {
        margin-left: 12px;
    }

    .back {
        margin-left: 45px;
    }
}