body {
    background-color: #F7F7F7;
}



.heading {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
    height: 80px;
    width: 100%;
}

#tasks,
#list {
    display: inline-block;
    margin-top: 15px;
    left: 137px;
    width: 196px;
    height: 49px;
}

#tasks {
    text-align: left;
    font: normal normal bold 40px/49px Inter;
    color: #424242;
    margin-left: 90px;
}

#list {
    text-align: left;
    font: normal normal bold 40px/49px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    margin-left: -98px;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 22px;
    margin-left: 1175px;
    opacity: 1;
}


.addlist {
    position: absolute;
    font: normal normal normal 22px/26px Inter;
    margin-left: 1220px;
    margin-top: 26px;
    font-size: 24px;
}

.circle1 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 22px;
    margin-left: 1175px;
    opacity: 1;
}

.addlist {
    position: absolute;
    font: normal normal normal 22px/26px Inter;
    margin-left: 1220px;
    margin-top: 26px;
    font-size: 24px;
}

.card {
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 78px;
    margin-top: 150px;
}

.div1 {
    top: 254px;
    left: 169px;
    width: 114px;
    height: 24px;
    text-align: left;
    font: normal medium Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
}


.div2 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: size 18px;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.div3 {
    top: 395px;
    left: 212px;
    width: 150px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 15px;
}

.card1 {
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 525px;
    margin-top: -363px;

}

.div11 {
    top: 254px;
    left: 169px;
    width: 114px;
    height: 24px;
    text-align: left;
    font: normal medium Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
}

.div22 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: size 18px;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.div33 {
    top: 395px;
    left: 212px;
    width: 165px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 15px;
}

.card2 {
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 975px;
    margin-top: -363px;
}

.div111 {
    top: 254px;
    left: 169px;
    width: 150px;
    height: 24px;
    text-align: left;
    font: normal medium Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
}

.div222 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: size 18px;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.dvi333 {
    top: 395px;
    left: 212px;
    width: 165px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 15px;
}

#todo {
    top: 342px;
    left: 175px;
    width: 18px;
    height: 18px;
    opacity: 1;
}

#todo1 {
    top: 342px;
    left: 175px;
    width: 18px;
    height: 18px;
    opacity: 1;
    margin-top: 18px;
    margin-left: 32px;
}

.card3 {
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 78px;
    margin-top: 80px;
}

.div1111 {
    top: 254px;
    left: 169px;
    width: 185px;
    height: 24px;
    text-align: left;
    font: normal medium Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
}

.div2222 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: size 18px;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.dvi3333 {
    top: 395px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 15px;
}

.card4 {
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-left: 525px;
    margin-top: -365px;
}

.div11111 {
    top: 254px;
    left: 169px;
    width: 185px;
    height: 24px;
    text-align: left;
    font: normal medium Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
    margin-left: 30px;
}

.div22222 {
    top: 340px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: size 18px;
    line-height: 21px;
    font-family: inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    margin-left: 28px;
    margin-top: 25px;
    text-decoration: line-through;
    opacity: 1;
}

.dvi33333 {
    top: 395px;
    left: 212px;
    width: 200px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    margin-left: 28px;
    margin-top: 15px;
}
